---
import BaseLayout from "@layouts/BaseLayout.astro";
import { nonDefaultSupportedLocales } from "@/const";
import { getCollectionInLocaleWithFallbacks } from "@pages/_utils";

export const getStaticPaths = async () => {
  return await Promise.all(
    nonDefaultSupportedLocales.map(async (locale) => {
      const entries = await getCollectionInLocaleWithFallbacks(
        "libraries",
        locale
      );

      return { params: { locale }, props: { entries } };
    })
  );
};

const { entries } = Astro.props;
---

<BaseLayout title="Libraries" subHeading="">
  <ul>
    {
      entries.map((lib) => (
        <li>
          <img
            src={lib.data.featuredImage.url}
            alt={lib.data.featuredImage.altText}
          />
          <span>{lib.data.name}</span>
          {lib.data.description}
          Created by: {lib.data.author.name}
        </li>
      ))
    }
  </ul>
</BaseLayout>
