---
import styles from "./styles.module.scss";
import { getCurrentLocale, getUiTranslator } from "@i18n/utils";
import LinkButton from "@components/LinkButton/index.astro";
import SketchThumb from "./SketchThumb.astro";

interface Props {
  referenceHeaderText: string;
  examplesHeaderText: string;
}

const { referenceHeaderText, examplesHeaderText } = Astro.props;

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await getUiTranslator(currentLocale);
---

<div class={styles["ref-and-example-wrapper"]}>
  <div class={styles.section}>
    <h2>{referenceHeaderText}</h2>
    <LinkButton variant="link" url="/reference">{t("Reference")}</LinkButton>
  </div>
  <div class={styles.section}>
    <h2>{examplesHeaderText}</h2>
    <LinkButton variant="link" url="/examples">{t("Examples")}</LinkButton>
  </div>
  <SketchThumb number={1} class={styles.sketch} />
  <SketchThumb number={2} class={styles.sketch} />
</div>
