---
import { getCurationSketches, makeThumbnailUrl } from "@src/api/OpenProcessing";

interface Props {
  /** Must be greater than zero. */
  number: number;
  class?: string;
}

const { number } = Astro.props;

const sketch = (await getCurationSketches(number))[number-1];
---

<a href={`/sketches/${sketch.visualID}`} class={Astro.props.class}>
  <img src={makeThumbnailUrl(sketch.visualID)} />
  <div>{sketch.title}</div>
  <div>{sketch.fullname}</div>
</a>
