---
interface Props {
  name: string;
  params?: ReferenceParam[];
  overloads?: ReferenceOverloads;
}

import {
  type ReferenceOverloads,
  type ReferenceParam,
} from "@/types/parsers.interface.ts";
import CodeContainer from "@components/CodeContainer/index.astro";
import { CopyCodeButton } from "../CopyCodeButton";

const { params, name, overloads } = Astro.props;

const formatParam = (param: ReferenceParam) => {
  let formatted = param.optional ? `[${param.name}]` : `${param.name}`;
  if (param.rest) {
    formatted = `${param.name}1, ${param.name}2, ..., ${param.name}n`;
  }
  return formatted;
};

const signatures = params 
  ? [`${name}(${params.map(formatParam).join(", ")})`]
  : overloads
    ? overloads.map(overload => 
        `${name}(${overload.params.map(formatParam).join(", ")})`)
    : [];
---

{
  signatures.map((signature) => (
    <CodeContainer>
      <span class="text-black">{signature}</span>
      <div class="absolute top-xs right-xs">
        <CopyCodeButton client:load textToCopy={signature} />
      </div>
    </CodeContainer>
  ))
}