---
import { nonDefaultSupportedLocales } from "@/const";
import BaseLayout from "@layouts/BaseLayout.astro";
import {
  getCollectionInLocaleWithFallbacks,
  removeLocalePrefix,
} from "@pages/_utils";

export async function getStaticPaths() {
  const entries = await Promise.all(
    nonDefaultSupportedLocales.map(async (locale) => {
      const localeEntries = await getCollectionInLocaleWithFallbacks(
        "sketches",
        locale
      );
      return localeEntries.map((entry) => ({
        params: { locale, slug: removeLocalePrefix(entry.id) },
        props: { entry },
      }));
    })
  );

  return entries.flat();
}

const { entry } = Astro.props;
const { title, author, embed, license, relatedSketches } = entry.data;
---

<BaseLayout title={title}>
  <iframe src={embed.url} width={embed.width} height={embed.height}></iframe>

  By {author.name}, licensed as {license.name}

  <h2>Related Sketches</h2>

  <ul>
    {/* TODO: make this into a proper link */}
    {relatedSketches?.map((relEx) => <li>{relEx.id}</li>)}
  </ul>
</BaseLayout>
