---
import Image from "@components/Image/index.astro";
import type { CollectionEntry } from "astro:content";
import { Icon } from "../Icon";

interface Props {
  config: CollectionEntry<"homepage">;
}
const { config } = Astro.props;
---

<div class="px-lg pt-5xl lg:pt-3xl pb-0 h-full">
  <div class="homepage-header-top">
    <div class="grid grid-cols-3 lg:grid-cols-4 gap-md overflow-hidden h-min">
      <p class="col-span-2 lg:col-span-3 mt-0 text-md md:text-xl lg:text-3xl">
        {config.data.heroText}
      </p>
      <Icon
        kind="asterisk-thick"
        className="col-span-1 motion-safe:animate-spin-slow text-logo-color h-full max-w-full max-h-[200px]"
      />
    </div>
    {
      config.data.heroImages.map((im, i) => (
        <p
          class={`hero-caption text-body-caption pb-sm mt-0 ${i > 0 ? "hidden" : ""}`}
        >
        {im.linkTarget ? (
          <a href={im.linkTarget}>{im.caption}</a>
        ) : (
          im.caption
        )}
        </p>
      ))
    }
  </div>

  {
    config.data.heroImages.map((im, i) => (
        <Image
          containerClass={`relative hero-image-container ${i > 0 ? "hidden" : ""}`}
          class={"hero-image"}
          aspectRatio="none"
          src={im.image}
          alt={im.altText}
          loading={i > 0 ? "lazy" : "eager"}
        />
    ))
  }
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    // find all hero image elements
    const images = document.querySelectorAll(".hero-image-container");
    if (images.length > 1) {
      const shownImageInd = Math.round(Math.random() * (images.length - 1));
      // hide the default one
      images[0].classList.add("hidden");
      // show a random one
      images[shownImageInd].classList.remove("hidden");
      // do the same for captions
      const captions = document.querySelectorAll("p.hero-caption");
      if (captions.length > 1) {
        captions[0].classList.add("hidden");
        captions[shownImageInd].classList.remove("hidden");
      }
    }
  });
</script>
