---
import { Icon } from "../Icon";

interface Props {
  title: string;
  subtitle?: string;
  topic: {
    name: string;
    url: string;
  };
}

const { title, topic, subtitle } = Astro.props;
---

<div class="px-5 md:px-lg pt-5xl lg:pt-3xl pb-sm">
  <div class="pb-xs flex flex-nowrap gap-2.5">
    <a href={topic.url}>{topic.name}</a>
    <span class="grid place-items-center"
      ><Icon
        className="w-3 h-3 relative top-[1px]"
        kind="chevron-right"
      /></span
    >
    <span>{title}</span>
  </div>
  <h1 class="whitespace-pre-line my-sm">{title}</h1>
  {subtitle && <p class="text-2xl">{subtitle}</p>}
</div>
