---
interface Props {
  title: string;
  subtitle?: string;
  topic: {
    name: string;
    url: string;
  };
}

const { title, topic, subtitle } = Astro.props;
---

<div class="px-lg pt-5xl lg:pt-3xl pb-sm">
  <div class="[&>*]:pr-sm pb-xs">
    <a href={topic.url}>{topic.name}</a>
    <span>{">"}</span>
    <span>{title}</span>
  </div>
  <h1 class="whitespace-pre-line my-sm">{title}</h1>
  {subtitle && <p class="text-2xl">{subtitle}</p>}
</div>
