---
import styles from "./styles.module.scss";
import { getCurrentLocale, getUiTranslator } from "@i18n/utils";
import LinkButton from "@components/LinkButton/index.astro";
import SketchThumb from "../SketchThumb.astro";

interface Props {
  headerText: string;
}

const { headerText } = Astro.props;

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await getUiTranslator(currentLocale);
---

<div class={styles.wrapper}>
  <div class={styles.section}>
    <h2>{headerText}</h2>
    <LinkButton variant="link" url="/community">{t("Community")}</LinkButton>
  </div>
  <SketchThumb number={3} class={styles.sketch} />
  <SketchThumb number={4} class={styles.sketch} />
  <SketchThumb number={5} class={styles.sketch} />
  <SketchThumb number={6} class={styles.sketch} />
</div>
