---
import { exampleContentSlugToLegacyWebsiteSlug } from "@/src/pages/_utils";
import Image from "@components/Image/index.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  item: CollectionEntry<"examples">;
}

const { item } = Astro.props;
---

<a href={`/examples/${exampleContentSlugToLegacyWebsiteSlug(item.slug)}`}>
  <Image
    src={item.data.featuredImage}
    alt={item.data.featuredImageAlt}
    widths={[325, 400]}
    sizes={`325px, (min-width: 768px) 400px`}
    class="w-3/5"
  />
  <div class="text-xl mt-xs break-words break-keep">
    {item.data.title}
  </div>
  <div class="text-sm">
    {item.data.oneLineDescription}
  </div>
</a>
