---
import Image from "@components/Image/index.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  item: CollectionEntry<"examples">;
}

const { item } = Astro.props;
---

<a href={`/examples/${item.slug}`}>
  <Image src={item.data.featuredImage} alt={item.data.featuredImageAlt} />
  <div class="text-xl mt-xs">
    {item.data.title}
  </div>
  <div class="text-sm">
    {item.data.oneLineDescription}
  </div>
</a>
