---
import Image from "@components/Image/index.astro";
import {
  makeThumbnailUrl,
  thumbnailDimensions,
  type OpenProcessingCurationResponse,
} from "@/src/api/OpenProcessing";

interface Props {
  item: OpenProcessingCurationResponse[number];
  lazyLoad?: boolean;
}

const { item, lazyLoad } = Astro.props;
---

<a class="w-full h-full block" href={`/sketches/${item.visualID}`}>
  {
    // This isn't alt text ideal but we have no way of knowing what
    // the thumbnail looks like, and the OpenProcessing API
    // doesn't include that information
  }
  <Image
    src={makeThumbnailUrl(item.visualID)}
    alt="Screenshot of sketch"
    width={thumbnailDimensions}
    height={thumbnailDimensions}
    loading={lazyLoad ? "lazy" : "eager"}
  />
  <div class="text-xl mt-xs text-wrap break-words break-keep">{item.title}</div>
  <div class="text-sm">{item.fullname}</div>
</a>
