---
import { getCollection } from "astro:content";

const libraries = await getCollection("libraries");
import { HeaderBar } from "../components/HeaderBar";
---

<HeaderBar />
<h1>Libraries</h1>

<ul>
  {
    libraries.map((lib) => (
      <li>
        <img
          src={lib.data.featuredImage.url}
          alt={lib.data.featuredImage.altText}
        />
        <span>{lib.data.title}</span>
        {lib.data.description}
        Created by: {lib.data.author.name}
      </li>
    ))
  }
</ul>
