---
import { getCollection } from "astro:content";

const libraries = await getCollection("libraries");
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Libraries" subHeading="">
  <ul>
    {
      libraries.map((lib) => (
        <li>
          <img
            src={lib.data.featuredImage.url}
            alt={lib.data.featuredImage.altText}
          />
          <span>{lib.data.name}</span>
          {lib.data.description}
          Created by: {lib.data.author.name}
        </li>
      ))
    }
  </ul>
</BaseLayout>
