---
import { Image } from "astro:assets";
const { src, alt, width, height } = Astro.props;
---

<div class="relative w-fit h-fit">
  <Image src={src} alt={alt} width={width} height={height} />
  <p
    aria-hidden
    class="renderable-alt bg-bg-gray-40 line-clamp-3 absolute top-0 mt-sm mx-sm px-[7.5px] pb-[2.5px] rounded-xl text-body-caption text-ellipsis"
  >
    {alt}
  </p>
</div>
