---
import Footer from "@components/Footer/index.astro";
import Nav from "@components/Nav/index.astro";
import Settings from "@components/Settings/index.astro";
import RootPageHeader from "@components/RootPageHeader/index.astro";
import ItemPageHeader from "@components/ItemPageHeader/index.astro";
import { getCurrentLocale, getUiTranslator } from "@i18n/utils";
import "@styles/base.scss";

interface Props {
  title: string;
  className?: string;
  variant?: "root" | "item" | "search";
  mainContentParentClass?: string;
}

const {
  title,
  className = "",
  variant = "root",
  mainContentParentClass = "mx-md md:mx-lg pb-4xl",
} = Astro.props;
const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await getUiTranslator(currentLocale);
const localizedTitle = t(title);
const localizedSubtitle = t("briefPageDescriptions", title);
---

<html class={title.toLowerCase()}>
  <head>
    <script is:inline>
      // Get any theme settings and apply before load
      const settings = [
        "dark-theme",
        "monochrome-theme",
        "show-alt-text",
        "reduced-motion",
      ];
      const storedSettings = settings.filter(
        (setting) => localStorage.getItem(setting) === "true"
      );
      if (storedSettings.length === 0) {
        storedSettings.push("light-theme");
      }
      const htmlElement = document.documentElement;
      htmlElement.className = `${storedSettings.join(" ")} ${htmlElement.className}`;
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class={className}>
    <div class="top-layout-grid">
      <Nav />
      <Settings hideSearch={variant === "search"} />
      <header>
        {
          variant === "root" ? (
            <RootPageHeader
              title={localizedTitle}
              subtitle={localizedSubtitle}
            />
          ) : (
            variant === "item" && <ItemPageHeader title={title} />
          )
        }
      </header>
      <main id="main-content">
        <div class={mainContentParentClass}>
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
