---
import Footer from "@components/Footer/index.astro";
import Nav from "@components/Nav/index.astro";
import Settings from "@components/Settings/index.astro";
import RootPageHeader from "@components/RootPageHeader/index.astro";
import ItemPageHeader from "@components/ItemPageHeader/index.astro";
import { getCurrentLocale, useTranslations } from "@i18n/utils";
import "@styles/base.scss";

interface Props {
  title: string;
  className?: string;
  variant?: "root" | "item";
  mainContentParentClass?: string;
}

const {
  title,
  className = "",
  variant = "root",
  mainContentParentClass = "mx-lg",
} = Astro.props;
const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await useTranslations(currentLocale);
const localizedTitle = t(title);
const localizedSubtitle = t("briefPageDescriptions", title);
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class={`${title.toLowerCase()} ${className}`}>
    <div class="top-layout-grid">
      <Nav />
      <Settings />
      <header>
        {
          variant === "root" ? (
            <RootPageHeader
              title={localizedTitle}
              subtitle={localizedSubtitle}
            />
          ) : (
            <ItemPageHeader title={title} />
          )
        }
      </header>
      <main>
        <div class={mainContentParentClass}>
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
