---
import type { CollectionEntry } from "astro:content";
import {
  setJumpToState,
  type JumpToLink,
  type JumpToState,
} from "../globals/state";
import {
  getCurrentLocale,
  removeLocalePrefix,
  getUiTranslator,
} from "../i18n/utils";
import {
  exampleContentSlugToLegacyWebsiteSlug,
  getExampleCategory,
} from "../pages/_utils";
import BaseLayout from "./BaseLayout.astro";
import EditableSketch from "@components/EditableSketch/index.astro";
import GridItemExample from "@components/GridItem/Example.astro";

interface Props {
  example: CollectionEntry<"examples">;
  code: string;
  relatedExamples: CollectionEntry<"examples">[];
}

const { example, code, relatedExamples } = Astro.props;

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await getUiTranslator(currentLocale);

const jumpToLinks: JumpToLink[] = relatedExamples.map((relEx) => {
  const relExSlug = exampleContentSlugToLegacyWebsiteSlug(
    removeLocalePrefix(relEx.slug)
  );

  return {
    label: relEx.data.title,
    url: `/examples${relExSlug}`,
    size: "small",
    current: example.slug === relEx.slug,
  };
});

const category = getExampleCategory(example.slug);

jumpToLinks.unshift({
  label: category,
  url: `/examples/#${category}`,
});

const jumpToState = {
  heading: t("Examples"),
  links: jumpToLinks,
} as JumpToState;

setJumpToState(jumpToState);

const { Content } = await example.render();
---

<BaseLayout title={example.data.title} variant="item">
  <div class="mt-xl mb-4xl">
    <div class="rendered-markdown">
      <Content />
    </div>
    <EditableSketch code={code} />
    <p>{example.data.arialabel}</p>
  </div>
  <div class="mb-4xl">
    <hr />
    <h2 class="mt-md mb-2xl">{t("Related Reference")}</h2>
    <div class="grid grid-cols-2 gap-md">
      <!-- GridItemReference HERE!! -->
    </div>
  </div>
  <div class="mb-4xl">
    <hr />
    <h2 class="mt-md mb-2xl">{t("Related Examples")}</h2>
    <div class="grid grid-cols-2 gap-md">
      {relatedExamples.map((relEx) => <GridItemExample item={relEx} />)}
    </div>
  </div>
</BaseLayout>
