---
import type { CollectionEntry } from "astro:content";
import LinkButton from "@components/LinkButton/index.astro";
import GridItemSketch from "@components/GridItem/Sketch.astro";
import { getCurrentLocale, getUiTranslator } from "../i18n/utils";
import { getCurationSketches } from "../api/OpenProcessing";
import BaseLayout from "./BaseLayout.astro";
import { Icon } from "../components/Icon";

interface Props {
  config: CollectionEntry<"homepage">;
}

const {
  config: { data },
} = Astro.props;
const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await getUiTranslator(currentLocale);

const curationSketches = await getCurationSketches();
const sketches = data.sketchIds.map(
  (id, i) =>
    curationSketches.find((sk) => id.toString() === sk.visualID) ??
    curationSketches[i]
);
---

<!-- 'item' might seem strange here but the homepage follows
  that visual styling of an item page -->
<BaseLayout title="" variant="item">
  <div class="lg:mt-sm mb-xl">
    <div
      class="grid grid-cols-3 lg:grid-cols-4 gap-md md:mb-lg lg:mb-xl overflow-hidden"
    >
      <p class="col-span-2 lg:col-span-3 mt-0 text-md md:text-xl lg:text-3xl">
        {data.heroText}
      </p>
      <!-- No alt text because this image is purely ornamental and aria-hidden -->
      <div
        class="col-span-1 motion-safe:animate-spin-slow text-logo-color h-fit lg:min-w-28"
      >
        <Icon kind="asterisk-thick" />
      </div>
    </div>
    <p class="text-body-caption mb-sm">{data.heroImageCaption}</p>
    <!-- This lets us swap image url based on screen size -->
    <picture>
      <!-- have to hard code these because css, see variables.scss for source of truth -->
      <source media="(max-width: 767px)" srcset={data.heroImageMobile.src} />
      <source media="(min-width: 768px)" srcset={data.heroImageDesktop.src} />
      <img
        class="full-bleed-image border-t border-b border-type-color"
        src={data.heroImageMobile.src}
        alt={data.heroImageAltText}
      />
    </picture>
  </div>

  <div class="grid grid-cols-2 lg:grid-cols-4 gap-x-lg gap-y-xl mb-xl">
    <div
      class="col-span-2 lg:col-span-3 order-1 grid grid-cols-subgrid content-start"
    >
      <h2 class="col-span-3">{data.referenceHeaderText}</h2>
      <LinkButton class="col-span-1 w-full" variant="link" url="/reference"
        >{t("Reference")}</LinkButton
      >
    </div>
    <div
      class="col-span-2 lg:col-span-3 order-2 lg:order-4 grid grid-cols-subgrid content-start"
    >
      <h2 class="col-span-full">{data.examplesHeaderText}</h2>
      <LinkButton class="col-span-1 w-full" variant="link" url="/examples"
        >{t("Examples")}</LinkButton
      >
    </div>
    <div class="col-span-1 order-3 lg:order-2">
      <GridItemSketch item={sketches[0]} />
    </div>
    <div class="col-span-1 order-4 :order-3">
      <GridItemSketch item={sketches[1]} />
    </div>
  </div>

  <div class="grid grid-cols-2 lg:grid-cols-4 gap-x-lg gap-y-xl mb-xl">
    <div class="col-span-2 lg:col-span-3 grid grid-cols-subgrid content-start">
      <h2 class="col-span-3">{data.communityHeaderText}</h2>
      <LinkButton class="col-span-1 w-full" variant="link" url="/community"
        >{t("Community")}</LinkButton
      >
    </div>
    <div>
      <GridItemSketch item={sketches[2]} />
    </div>
    <GridItemSketch item={sketches[3]} />
    <div>
      <GridItemSketch item={sketches[4]} />
    </div>
    <div class="col-span-2 row-span-2">
      <GridItemSketch item={sketches[5]} />
    </div>
  </div>

  <div class="grid grid-cols-2 lg:grid-cols-4 gap-lg mb-xl">
    <div class="grid grid-cols-subgrid col-span-1 lg:col-span-2">
      <h2 class="col-span-2">{t("Donate to p5.js")}</h2>
      <div class="col-span-1">
        <LinkButton class="w-full" variant="link" url="/donate"
          >{t("Donate")}</LinkButton
        >
      </div>
    </div>
    <div class="grid grid-cols-subgrid col-span-1 lg:col-span-2">
      <h2 class="col-span-2">{t("Download p5.js")}</h2>
      <div class="col-span-1">
        <LinkButton class="w-full" variant="link" url="/download"
          >{t("Download Library")}</LinkButton
        >
      </div>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  @import "../../styles/variables.scss";
  h2 {
    @apply mb-sm mt-0;
    @media (min-width: $breakpoint-tablet) {
      font-size: 3.5rem;
    }
  }
</style>
