---
import { getLibraryLink } from "@pages/_utils";

import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import Image from "@components/Image/index.astro";

interface Props {
  entries: CollectionEntry<"libraries">[];
  title: string;
}

const { entries } = Astro.props;
---

<BaseLayout title="Libraries">
  <ul>
    {
      entries.map((lib) => (
        <li>
          {
            // TODO: Fold into GridItemLibrary as a variant
          }
          <a href={getLibraryLink(lib)}>
            {lib.data.featuredImageAlt && lib.data.featuredImage && (
              <Image
                src={lib.data.featuredImage}
                alt={lib.data.featuredImageAlt}
                width={1500}
                height={1000}
              />
            )}
            <span>{lib.data.name}</span>
            {lib.data.description}
            Created by:{" "}
            {lib.data.author.map((a: { name: string }) => a.name).join(", ")}
          </a>
        </li>
      ))
    }
    }
  </ul>
</BaseLayout>
