---
import CodeEmbed from "@components/CodeEmbed";
import { getCurrentLocale, useTranslations } from "@i18n/utils";
import { separateReferenceExamples } from "@pages/_utils";
import BaseLayout from "./BaseLayout.astro";
import MethodSignature from "@components/MethodSignature/index.astro";

const { entry } = Astro.props;
const currentLocale = getCurrentLocale(Astro.url.pathname);

const examples = separateReferenceExamples(entry.data.example);
const t = await useTranslations(currentLocale);
---

<BaseLayout title={entry.data.title} variant="item">
  <div set:html={entry.data.description} class="[&_a]:underline" />
  <h3>{t("Examples")}</h3>
  {
    examples.map((exampleCode: string) => {
      return (
        <div>
          <CodeEmbed
            client:load
            initialValue={exampleCode}
            previewable
            editable
          />
        </div>
      );
    })
  }
  <h3>{t("Syntax")}</h3>
  <MethodSignature params={entry.data.params} name={entry.data.title} />
</BaseLayout>
