---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import { removeLocaleAndExtension } from "@pages/_utils";
import { categories } from '../content/reference/config'

type ReferenceEntry = CollectionEntry<"reference">;

interface Props {
  title: string;
  entries: ReferenceEntry[];
}

const { entries } = Astro.props;
const categoryData = categories.map((category) => {
  const directEntries = entries.filter((e) => e.data.module === category);
  const subcats = [
    ...new Set(
      directEntries
        // Ignore classes here, they will be added later
        .filter((e) => e.data.submodule && !e.data.isConstructor)
        .map((e) => e.data.submodule)
    ).values()
  ].sort();
  const classes = directEntries.filter(
    (e) => e.data.isConstructor && e.data.module === category
  ).sort((a, b) => a.name - b.name);

  const subcatData = [
    {
      entries: directEntries.filter(
        (e) =>
          !e.data.submodule &&
          // !e.data.isConstructor &&
          !classes.some((c) => c.title === e.class)
      )
    },
    ...subcats.map((subcat) => ({
      name: subcat,
      entries: directEntries.filter(
        (e) =>
          e.data.submodule === subcat &&
          !e.data.isConstructor &&
          !classes.some((c) => c.data.title === e.class)
      )
    })),
    ...classes.map((entry) => ({
      name: entry.data.title,
      entry,
      entries: directEntries.filter(
        (e) => e.data.class === entry.data.title
      )
    }))
  ]

  return {
    name: category,
    subcats: subcatData
  }
});

---

<BaseLayout title="Reference">
  {
    categoryData.map((category) => (
      <>
        <h3>{category.name}<a id={category.name}></a></h3>
        {
          category.subcats.map((subcat) => (
            <>
              {subcat.name && (
                subcat.entry ? (
                  <h4>
                    <a id={subcat.name} href={`/reference/${removeLocaleAndExtension(subcat.entry.id)}`}>
                      {subcat.name}
                    </a>
                  </h4>
                ) : (
                  <h4>{subcat.name}<a id={subcat.name}></a></h4>
                )
              )}
              <div class="content-grid">
                {
                  subcat.entries.map((refEntry) => (
                    <div class="col-span-3 w-full overflow-hidden">
                      <a href={`/reference/${removeLocaleAndExtension(refEntry.id)}`}>
                        {/* Needs set:html to render the entries for e.g. the > operator */}
                        <span set:html={refEntry.data.title} />
                      </a>
                    </div>
                  ))
                }
              </div>
            </>
          ))
        }
      </>
    ))
  }
</BaseLayout>
