---
import BaseLayout from "@layouts/BaseLayout.astro";
import RelatedItems from "@components/RelatedItems/index.astro";
import Head from "@components/Head/index.astro";
import {
  getRandomCurationSketches,
  getSketch,
  makeSketchLinkUrl,
  makeThumbnailUrl,
} from "@/src/api/OpenProcessing";
import LinkButton from "@components/LinkButton/index.astro";
import { getCurrentLocale, getUiTranslator } from "../i18n/utils";
import { setJumpToState } from "../globals/state";

interface Props {
  sketchId: string;
  authorName: string;
}

const { sketchId, authorName } = Astro.props;
const sketchInfo = await getSketch(sketchId);

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await getUiTranslator(currentLocale);
const dateString = new Date(sketchInfo.createdOn).toLocaleDateString(
  currentLocale,
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  }
);

setJumpToState(null);
---

<Head
  title={sketchInfo.title}
  locale={currentLocale}
  featuredImageSrc={featuredImageURL}
  description={sketchInfo.instructions}
/>

<BaseLayout
  title={`${sketchInfo.title}\n${authorName}`}
  subtitle={dateString}
  variant="item"
  topic={"community"}
>
  <div class="max-w-screen-md">
    <iframe
      src={`https://openprocessing.org/sketch/${sketchInfo.visualID}/embed/`}
      width="400"
      height="400"
      title={`OpenProcessing Sketch: ${sketchInfo.title} by ${authorName}`}
      class="py-md"></iframe>
    <div class="grid gap-y-sm md:gap-y-md">
      <LinkButton
        variant="code"
        url={makeSketchLinkUrl(sketchInfo.visualID)}
        class="min-w-[184px] lg:min-w-[220px]">{t("Show Code")}</LinkButton
      >
      <LinkButton
        variant="link"
        url="https://openprocessing.org"
        class="min-w-[184px] lg:min-w-[220px]">OpenProcessing</LinkButton
      >
    </div>

    {
      sketchInfo.instructions && (
        <p class="text-md my-sm md:my-lg">{sketchInfo.instructions}</p>
      )
    }

    <p class="text-xs md:text-base mb-3xl">
      This <a
        class="text-type-magenta"
        href={makeSketchLinkUrl(sketchInfo.visualID)}>sketch</a
      > is ported from the <a
        class="text-type-magenta"
        href="https://openprocessing.org">OpenProcessing</a
      >
      sketch archive.
    </p>
  </div>
  <RelatedItems title={t("More Sketches") as string} items={moreSketches} />
</BaseLayout>
