---
import { getCurrentLocale, useTranslations } from "../i18n/utils";
import type { OpenProcessingCurationResponse } from "../pages/_api";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  entries: OpenProcessingCurationResponse;
  title: string;
}

const makethumbnailUrl = (id: string) =>
  `https://openprocessing-usercontent.s3.amazonaws.com/thumbnails/visualThumbnail${id}.jpg`;

const { entries, title } = Astro.props;
const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await useTranslations(currentLocale);
---

<BaseLayout title={title} variant="root">
  <ul>
    {
      entries.map((entry) => (
        <li>
          <a href={`/sketches/${entry.visualID}`}>
            <img src={makethumbnailUrl(entry.visualID)} />
            <span>{entry.title}</span>
            <span>{entry.fullname}</span>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
