---
import { type CollectionEntry } from "astro:content";
import Head from "@components/Head/index.astro";
import BaseLayout from "./BaseLayout.astro";
import Image from "@components/Image/index.astro";
import { setJumpToState, type JumpToLink } from "../globals/state";
import { getCurrentLocale, getUiTranslator } from "../i18n/utils";
import { categories } from "../content/tutorials/config";

type TutorialEntry = CollectionEntry<"tutorials">;

const currentLocale = getCurrentLocale(Astro.url.pathname);
const t = await getUiTranslator(currentLocale);

const { entries } = Astro.props;

const sections = categories.map((slug) => {
  const name = t("tutorialCategories", slug);
  const sectionEntries = entries
    .filter((e: TutorialEntry) => e.data.category === slug)
    .sort(
      (a: TutorialEntry, b: TutorialEntry) =>
        (a.data.categoryIndex ?? 1000) - (b.data.categoryIndex ?? 1000)
    );

  return { slug, name, sectionEntries };
});

const pageJumpToLinks = categories.map((category) => ({
  url: `#${category}`,
  label: t("tutorialCategories", category),
}));

setJumpToState({
  heading: t("Tutorials") as string,
  links: pageJumpToLinks as JumpToLink[],
});
---

<Head title="Tutorials" locale={currentLocale} />

<BaseLayout title="Tutorials">
  {
    sections.map(({ slug, name, sectionEntries }) => (
      <>
        <h2 id={slug} class="mb-lg">
          {name}
        </h2>
        <ul class="content-grid pb-4xl mb-lg border-b border-sidebar-type-color last:border-0 ">
          {sectionEntries.map((entry: TutorialEntry) => (
            <li class="col-span-3">
              <a
                href={`/tutorials/${entry.slug}`}
                class="group hover:no-underline"
              >
                {entry.data.featuredImageAlt && entry.data.featuredImage && (
                  <Image
                    src={entry.data.featuredImage}
                    alt={entry.data.featuredImageAlt}
                    width="440"
                  />
                )}
                <p class="mt-sm text-body group-hover:underline">
                  {entry.data.title}
                </p>
                <p class="text-body-caption mt-xxs">{entry.data.description}</p>
              </a>
            </li>
          ))}
        </ul>
      </>
    ))
  }
</BaseLayout>
