---
import { getCurrentLocale, getUiTranslator } from "@/src/i18n/utils";
import { jumpToState } from "@/src/globals/state";
import { JumpToLinks } from "./JumpToLinks";
import { MainNavLinks } from "./MainNavLinks";
import styles from "./styles.module.scss";

const currentLocale = getCurrentLocale(Astro.url.pathname);
// We force the logo to the accent color only on the homepage
const pathMinusLocale = Astro.url.pathname.replace(`/${currentLocale}`, "");
const isHomepage = pathMinusLocale === "/";
const t = await getUiTranslator(currentLocale);

const mainLinks = [
  { url: "/reference", label: t("Reference") },
  { url: "/tutorials", label: t("Tutorials") },
  { url: "/examples", label: t("Examples") },
  { url: "/contribute", label: t("Contribute") },
  { url: "/community", label: t("Community") },
  { url: "/about", label: t("About") },
] as { url: string; label: string }[];

const editorButtonLabel = t("Start Coding");
const donateButtonLabel = t("Donate");
---

<nav class={styles.container}>
  <a href="#main-content" class="skip-to-main">
    {t("Skip to main content")}
  </a>
  <MainNavLinks
    links={mainLinks}
    isHomepage={isHomepage}
    editorButtonLabel={editorButtonLabel as string}
    donateButtonLabel={donateButtonLabel as string}
    client:load
  />
  <div>
    <JumpToLinks
      heading={jumpToState?.heading || (t("Jump To") as string)}
      links={jumpToState?.links}
      client:load
    />
  </div>
</nav>
